<!-- Blog snippet component -->
<div class="container">
    <h2>blog Paralelní Polis</h2>

    <div class="article-wrapper">
        {% for article in blog_posts %}
        <a href="{{article.link}}" class="article">
            <div class="article__date">
                <div class="article__date-day">
                    {{article.post_date|date}}
                </div>
                <div class="article__date-month">
                    {{article.post_date|date}}
                </div>
            </div>
            <div class="article__image" data-image="{{article.thumbnail}}">

            </div>
            <div class="article__title">
                {{article.title}}
            </div>
        </a>
        {% endfor %}
    </div>
    <div class="more-articles">
        <a href="/blog" class="button">Všechny příspěvky</a>
    </div>
</div>
