{% extends "base.twig" %}

{% block content %}
	<!-- Container component -->
	<div class="container">

		<h1>{{post.title}}</h1>

		<div class="info-box">
		    <div class="info-box__action info-box__action--statement">
		        <h3>statement</h3>
		    </div>
		    <div class="info-box__text">
		        {{post.content}}
		    </div>
		</div>

		{% if hero_elements %}
			{% for hero in hero_elements|sort %}
			<div class="info-box">
				<div class="info-box__action">
		            <h3>{{hero.title}}</h3>
					{% if hero.get_field('wpcf-hero_url') %}
						<a href="{{hero.get_field('wpcf-hero_url')}}" class="button">{{hero.get_field('wpcf-hero_action')}}</a>
					{% endif %}
		        </div>
		        <div class="info-box__text">
		            <p>
		                {{hero.content}}
		            </p>
		        </div>
			</div>
			{% endfor %}
		{% endif %}

	</div>
{% endblock %}
